* {
  margin: 0px;
  box-sizing: border-box;
}
a {
  /*Permite establecer el ancho y alto de un elemento*/
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 15px 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: white;
  width: 100%;
}
header .container {
  /*
  Aprovecha el espacio que tenga el elemento para acomodar a sus elementos hijos en este caso es el elemento a y el nav
  */
  display: flex;
  /*
  Distribuye el espacio entre los elementos flex en el eje x, distribuye los items uniformemente, el primer item al inicio, el ultimo al final
  */
  justify-content: space-between;
}
header .container .logo {
  width: 100px;
  left: 100px;
}
header .container nav a {
  color: rgb(111, 0, 255);
  margin: 0 15px;
}
/* cabecera */ 
.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  /*
  Puede mover con top, bottom, left, right y z-index no moviendo los otros elementos que tienen cerca, en su lugar se queda un contenido invisible, cuando se mueve el elemento que tiene position: relative
  */
  position: relative;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
#pestañas{
  margin: auto;
  margin-left: auto;
  margin-right: auto;

}
.letras{
  background-color: rgb(115, 95, 134);

}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
/* smile */
#letra{
background-color: rgb(155, 61, 155);
}
#smile {
  position: relative;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
/* portada */
#smile img {
  width: 150%;
  display: block;

}
#smile .bloque-inicio {
  /*
  Puede moverse con top, bottom, left, right y z-index y al moverse los otros elementos ocupan el espacio del elemento con position: absolute
  */
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  text-align: center;
  margin-left: -200px

}
#smile .bloque-inicio h1 {
  color: rgb(5, 5, 5);
  font-size: 35px;
  
}
#smile .bloque-inicio p {
  color: rgb(183, 179, 212);
  font-size: 16px;
}

.boton {
  text-align: center;
  padding: 15px 20px;
  border: none;
}

/*
Para el elemento boton-rojo que al mismo tiempo tiene la clase boton (Las 2 clases al mismo tiempo)
*/
.boton.boton-rojo {
  color: white;
  background-color: rgb(99, 44, 131);
  font-size: 15px;
  font-weight: bold;

  
}

.seccion {
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  
}

.cuadrado-perfecto {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);

}

.cuadrado-perfecto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);

}

#nosotros {
  background-image: url(/img/latas.jpg);
  /*
  Escala la imagen al mayor tamaño posible sin estirarla. Si las proporciones de la imagen difieren de las del elemento, es recortada vertical u horizontalmente para que no quede un espacio vacio
  */
  background-size: cover;
}

#nosotros p {
  color: white;
  text-align: center;
  font-size: 16px;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}

.row {
  display: flex;
  /*Si una columna no entra, esa columna va hacia abajo*/
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.columna {
  padding-right: 15px;
  padding-left: 15px;
}
/* imagenLogopie */
.columna-25 {
  width: 25%;
}

.columna-33{
  width: 33.33%;
}

.columna-41 {
  width: 41.66%;
  font-size: 40px;

}

.empujar-58 {
  margin-left: 58.33%;
}

#servicios .bloque-servicio {
  border: 1px solid grey;
}

.bloque-img-servicio img {
  width: 100%;
}

.bloque-img-servicio.cuadrado-perfecto{
  padding-bottom: 56.25%;
}

.bloque-contenido-servicio {
  padding: 15px;
}

.bloque-contenido-servicio h3 {
  margin-top: 0px;
  font-size: 25px;
}
.boton.boton-blanco {
  color: rgb(162, 0, 255);
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgb(148, 75, 148);
}

#galeria h4 {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  position: absolute;
  top: 40%;
  color: white;
  font-size: 18px;
  width: 100%;
}
#galeria img {
  /*filtro 1 es que estara en blanco y negro, 0 no se aplicara ningun filtro*/
  filter: grayscale(1);
}

#galeria img:hover  {
  filter: grayscale(0);
}

#galeria .cuadrado-perfecto:hover h4 {
  /*
  El valor display:none le dice al navegador que no lo represente, el resultado es que el elemento queda escondido y el espacio que deberia ocupar colapsado
  */
  display: none;
}

/* #contactenos {
  position:relative;
} */

#contactenos iframe {
  position: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#contactenos form {
  padding: 30px;
  background-color: rgb(77, 42, 97);
  border-radius: 10;
}

#contactenos #formulario-contacto .form-block {
  left: 100%;
  margin-bottom: 15px;
}

#contactenos #formulario-contacto .form-block .form-control {
  display: block;
  height: 40px;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
}

#contactenos #formulario-contacto .form-block textarea {
  display: block;
  height: 100px;
  font-size: 16px;
  border: 1px solid rgb(129, 68, 153);
  width: 100%;
  padding: 5px 10px;
  /*No se puede dimensionar el textarea*/
  resize: none;
}

#contactenos #formulario-contacto .form-block.bloque-ultimo {
  margin-bottom: 50px;
}
.boton.boton-negro {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.boton.boton-negro:hover {
  background-color: white;
  color: black;
}

footer {
  background-color: black;
  color: white;
  padding-top: 60px;
 
}

footer .barra-footer {
  background-color: rgb(128, 128, 128);
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  left: auto;
}

footer .logo-footer {
  width: 190%;
}

footer p {
  margin-bottom: 30px;
}

footer a {
  color: white;
}

footer .redes {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}

footer .redes a {
  margin: 15px 15px;
}

footer ul {
  padding-right: 0px;
  list-style: none;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
  margin-left: -40px;
}

header .container .hamb {
  display: none;
}

/*Validacion del formulario*/

.formulario-input-error {
  font-size: 12px;
  margin-bottom: 0;
  color: rgb(162, 104, 173);
  display: none;
}

.formulario-input-error-activo {
  display: block;
}

.formulario-mensaje-exito {
  font-size: 14px;
  color: white;
  display: none;
}

.formulario-mensaje-exito-activo {
  display: block;
}

.form-control-error {
  border: 3px solid orange;
}

/*El tamaño de una tablet es 768px*/

@media screen and (max-width: 768px){
  body {
    font-size: 15px;
  }

  header .container nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
/*     background-color: rgb(108, 68, 160);
 */    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    top: 0px;
    left: 0px;
    display: flex;
    /*Convierte las filas en columnas*/
    flex-direction: column;
    transition: all 0.4s ease;
    transform: translate(100%);
  }

  header .container nav.open {
    /*Se cierra el menu*/
    transform: translateX(0) !important;
  }

  header .container nav a {
    font-size: 30px;
    margin: 15px;
  }

  header .container .hamb {
    display: block;
    font-size: 40px;
    color: rgb(61, 17, 102);
    position: relative;
    
  }

  form .boton.boton-negro {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer .logo-footer {
    width: 50%;
  }

  footer .redes {
    flex-direction: column;
  }

  .container {
    width: 100%;
  }

  .columna-mobile-100 {
    width: 100%;
  }

  .columna-mobile-50 {
    width: 50%;
  }

  .empujar-mobile-0 {
    margin-left: 0;
  }

  .sinpadding-mobile {
    padding: 0px;
  }

  #inicio {
    height: 120vw;
  }

  #inicio img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #servicios .bloque-servicio {
    margin-bottom: 15px;
  }

  #contactenos {
    padding: 0;
  }

  #contactenos iframe {
    position: relative;
    height: 50vw;
  }
 
}
.row .img{
  border-radius: 10%;
}